{% extends 'blog/layout.html' %}

{% block blog_title %}{{ current_user.blog_title or subdomain }}{% endblock %}

{% block blog_content %}
    <h1 class="display-5 mb-4">{{ current_user.blog_title or subdomain + '.' + config.get('BASE_DOMAIN', '').split(':')[0] }}</h1>

    {% if posts %}
        {% for post in posts %}
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title h4">
                        <a href="{{ url_for('blog.post_detail', blog_subdomain_part=subdomain, slug=post.slug) }}">{{ post.title }}</a>
                    </h2>
                    <p class="card-text text-muted small">
                        Published on {{ moment(post.creation_timestamp).format('LL') }}
                        {% if post.last_modified_timestamp and post.last_modified_timestamp != post.creation_timestamp %}
                            (Updated {{ moment(post.last_modified_timestamp).format('LL') }})
                        {% endif %}
                    </p>
                    <p class="card-text">{{ post.content | striptags | truncate(200, True) }}</p> {# Display first 200 characters, striptags to remove HTML #}
                    <a href="{{ url_for('blog.post_detail', blog_subdomain_part=subdomain, slug=post.slug) }}" class="btn btn-outline-primary btn-sm">Read More &raquo;</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            No posts found yet. Start by creating your first post!
        </div>
    {% endif %}

{% endblock %}
